<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to SchoolHub</h1>
    <form action="#" method="POST">
      <pre>
    	FIRST    NAME  	: <input type="text" name=student_firstName/>
    	
    	LAST     NAME   : <input type="text" name="student_lastName"/>
    	
    	FATHER   NAME  	: <input type="text" name="father_name"/>
    	
    	MOTHER   NAME   : <input type="text" name="mother_name"/>
    	
    	GENDER         	: <input type="radio" name="gender" value="male">Male
                          <input type="radio" name="gender" value="female">Female
    	AADHAR NUMBER 	: <input type="text" name="aadhar_number"/>
    	
        DATE OF BIRTH   : <input type="date" name="date_of_birth"/>
        
        BOARD	NAME	: <select id="b1" name="board" multiple >
        					 <option value="SSC">SSC</option>	
        					 <option value="CBSC">CBSC</option>
       					  </select>
       					 
        SCHOOL  NAME	: <select id="s1" name="school_name" multiple>
        					<option value="Z.P.High School">Z.P.High School</option> 	
        					<option value="Narayana School">Narayana School</option>
        				  </select>			
        					
        RESERVATION     : <select id="r1" name="reservation_type" multiple>
        					<option value="SC">SC</option>
        				    <option value="ST">ST</option>
         					<option value="OBC">OBC</option>
         				  </select>
         				
        CONTACT_NUMBER  : <input type="text" name="contact_number"/>
        
        ADDRESS         : <input type="text" name="address"/>
        
        JOIN DATE       : <input type="date" name="enrollment_date"/>
        
        SECTION         : <select id="sec" name="section" multiple>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
        				  </select>
        LANGUAGE        : <select id="lang" name="language"multiple>
							<option value="Telugu">Telugu</option>
							<option value="English">English</option>
							<option value="Hindi">Hindi</option>
						  </select>
		
      </pre>
    </form>
</body>
</html>
